* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
}
#wrapper {
  border: 0px solid #f3f3f3;
  box-shadow: 1px 1px 27px 5px #cccccc;
  padding: 10px;
  top: 10px;
  background-color: #ffffff;
  width: 1060px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  min-width: 600px;
  bottom: 10px
}
#top {
  height: 210px;
  width: auto;
  position: relative;
  background-color: #cfe2f3;
}
#links {
  height: 100%;
  background-color: #f3f3f3;
  width: 100%;
}

#background {
  #min-height: 80px;
  background-color: #f3f3f3;
  width: auto;
  position: relative;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

#main {
  min-height: 660px;
  width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: -10px -10px 300px 1px black inset;
}



#form {
  #width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 424px;
  left: 0px;
}

.top {
  #display: inline;
  #position: relative;
}
.top img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.top h1 {
  padding: 0 0px;
  font-size: 50px;
  position: relative;
  z-index:1;
  top: 63px;
  font-family: Georgia;
  right: 163px;
  text-align: right;
  line-height: 0px;
  color: #000000;
}
.top h2 {
  padding: 0 0px;
  position: relative;
  z-index:1;
  right: 42px;
  font-family: Georgia;
  font-weight: normal;
  top: 136px;
  color: #cccccc;
  font-size: 40px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;

  text-align: right;
  line-height: 0px;
}

.main p.title1 {
  position: absolute;
  top: 78px;
  left: 300px;
  #z-index: 0;
  font-size: 20px;
  font-family: Georgia;
  font-weight: ;
  text-align: left;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;
}

.main p.title2 {
  position: absolute;
  top: 115px;
  left: 300px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  margin-right: 300px;
}

.main p.title3 {
  position: absolute;
  top: 230px;
  left: 300px;
  padding: 0px 0px 0px 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  margin-right: 300px;
}

.main p.mail {
  position: absolute;
  top: 454px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.java {
  position: absolute;
  top: 510px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  color: yellow;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.end {
  position: relative;
  top: 501px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main a.end {
  color: white;
}

.main a.end:visited {
  color: #cccccc;
}

.main a.end:hover {
  color: #cfe2f3;
}



.main p.copyright {
  position: relative;
  top: 492px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
}

.main img.img2 {
  position: absolute;
  top: 81px;
  left: 150px;
  #z-index: 0;
}

.main img.img3 {
  position: absolute;
  width: 490px;
  height: 24px; 
  top: 190px;
  left: 300px;
  z-index: 0;
}

.main img.img3a {
  display: none;
}

.main img.horse {
  position: absolute;
  top: 300px;
  left: 330px;
  #z-index: 0;
}

.main img.text-cn {
  position: absolute;
  top: 300px;
  left: 460px;
  #z-index: 0;
}

.main ul.services {
  position: absolute;
  top: 220px;
  left: 300px;
  color: #ffffff;
  font-size: 24px;
  font-family: Georgia;
}


.links ul {
  border: 0px solid grey;
  overflow: hidden;
  background-color: #cccccc;
  box-shadow: 1px 20px 10px 1px white inset;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: -15px;
  list-style-type: none;
}
.links li {
  display: inline-block;
  text-align: center ! important;
  margin-bottom: 20px;
}
.links li a {
  border: 1px solid grey;
  padding: 9px 61px;
  margin-right: 0px;
  float: none ! important;
  color: #525252;
  text-align: center ! important;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
}

.links li a:hover {
  background-color: #f3f3f3;
  color: #0b5394;
}

#links2 {
display: none;
}

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
///@media screen and (max-width: 800px) { }
///@media only screen and (max-device-width: 800px) { }

@media only screen and (max-width: 800px) {

#wrapper {
  border: none;
  box-shadow: none;
  padding: 0px;
  top: 0px;
  left: 0px;
  background-color: ///#ffffff;
  width: 100%;
  position: absolute;
  margin-right: px;
  margin-left: 0px;
  //max-width: 800px;
  min-width: 10px;
  //right: 0px;
  bottom: 10px;
}

#links {
display: none;
}

#links2 {
display: block;
}

#main {
  #height: 100%;
  #min-height: 100px;
  width: 100%;
  //min-width: 10px;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: none;
  box-shadow: -10px -10px 300px 1px black inset;
  padding-bottom: 1px;
}

#main .mob-a {
  text-decoration: none;
}

#top {
  height: 95px;
}

#img1 {
display: none;
}

#main img.horse {
display: none;
}

#main img.text-cn {
display: none;
}

#img02 {
//display: block;
position: relative;
top: 20px;
///left: 36%;
height: 45px;
width: 45px;
//float: left;
padding-right: 250px;
display: block;
 margin-left: auto;
 margin-right: auto;
}

#top h1 {
position: relative;
top: 25px;
//margin: 0px;
margin-left: auto;
right: 0px;
text-align: center;
 font-size: 29px;
 padding: 0 0px;
  //font-size: 50px;
  z-index:1;
  font-family: Georgia;
  //right: 0px;
  //text-align: right;
  line-height: 0px;
  color: #000000;
}

#top h2 {
top: 60px;
//margin: 0px;
text-align: center;
font-size: 18px;
margin-left: auto;
right: 0px;
}

#m-01 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#m-02 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#p-01 {
 color: white; //#28639a; //red;
//text-shadow: none;
//text-transform: uppercase;
}

#top h3 {
display: ;
top: 100px;
left: 0px;
text-align: center;
  padding: 0 0px;
  position: relative;
  z-index:1;
  font-family: Georgia;
  font-weight: normal;
  color: #cccccc;
  font-size: 35px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;
  line-height: 0px;
  letter-spacing: 2px;
  //text-transform: uppercase;
}

.links {
width: auto;
height: 75px;
}

.links ul {
padding-top: 3px;
padding-bottom: px;
padding-left: 0px;
}

.links li {
 display: block !important;
 float: left !important;
 width: 47%;
 height: 20px;
 padding-left: 3px;
 padding-right: 3px;
 margin-top: 0px;
}

.links li a.active {
display: none;
}

.links li a {
 display: inline-block;
 padding-left:1px;
 padding-right:1px;
 padding-top:0.6em;
 padding-bottom:0.6em;
 margin-top:0px;
 margin-right: 0px;
 margin-bottom: 0px;
 width: 100%;
 //min-width: 100px;
 #font-size: 1em;
 ///background-color: #bbc984; //#777473;
 //color: white
}

#main .title1 {
  position: relative;
  top: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 140%;
  max-font-size: 2em; px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main p.title2 {
  position: relative;
  top: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 21px;
  font-family: Georgia;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.main p.title3 {
  position: relative;
  top: 15px;
  left: 0px;
  #z-index: 0;
  font-size: 21px;
  font-family: Georgia;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.main p.description {
  position: relative;
  top: 50px;
  left: 0px;
  z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 0px 0px;
  text-indent: 0px;
  line-height: 130%;
}

.main ul.markets {
  position: relative;
  top: 59px;
  left: 32%;
  max-width: 170px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: disc;
  z-index: 1;
  margin-bottom: 1px;
}

.main ul.services {
  position: relative;
  top: -170px;
  left: 20%;
  width: 72%;
   max-width: 310px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: square;
  margin-bottom: 1px;
}

.main img.imgCN {
  position: relative;
  display: block;
  width: 20%;
  max-width: 300px;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.main img.img2 {
  //display: none;
  position: relative;
  float: none;
  top: -10px;
  left: 0px;
  #z-index: 0;
  //margin-right: 10px;
 width: 40px;
 height: 40px;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.main img.img3 {
 display: none;
}

.main img.img3a {
  position: relative;
  #top: -5px;
  #left: 0px;
   width: 280px;
  #height: 60%
   #max-width: 40px;
  #max-height: 9px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main img.img4 {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 180px;
}

.centre {
  position: relative;
  left: 0px;
  width: 95%;///500px;//70%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-color: white;
 border-style:solid; 
  //z-index: 5;
  //overflow: auto;
   height: auto;
padding-bottom: 200px;
}

.main img.imgRV {
  position: absolute;
  display:inline;
  width: 30%;
  max-width: 150px;
  height: px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 0;
}

.main p.consulting {
  position: relative;
  top: 40px;
  left: 0px;
  z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  //padding-left: 80px;
  padding: 0px 0px;
  padding-right: 10px;

  text-indent: 0px;
  line-height: 130%;
}
.main p.consulting span {
display:inline-block;
max-width: 180px;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
}

.centre p.courses {
  position: relative;
  top: 100px;
  left: 0px;
  #z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  padding: 0px 0px;
  padding-right: 15px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.courses span {
display:inline-block;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
}


.centre img.imgRV-1 {
  position: absolute;
  width: 30%;
  max-width: 150px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  #z-index: 1;
}

.centre ul.services-1 {
  position: relative;
  top: 120px;
  max-width: 170px;
  left: 36%;
  color: #ffffff;
  font-size: 15px;
  font-family: Georgia;
  list-style-type: disc;
  #text-align: center;
  margin-left: 10px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre p.translate {
  position: relative;
  top: 130px;
  left: 0px;
  #z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  padding: 0px 0px;
  padding-right: 10px;
  text-indent: 0px;
  line-height: 130%;
  border: 2px;
  border-color: green;
 border-style:solid; 
}

.main p.translate span {
display:inline-block;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
  max-width: 180px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre img.imgRV-2 {
  position: absolute;
  width: 30%;
  height: auto;
  max-width: 150px;
  min-height: 80px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  #z-index: 1;
}

.centre ul.services-2 {
  position: relative;
  top: 230px;
  left: 36%;
  padding-top: 27px;
  max-width: 160px;
  color: #ffffff;
  font-size: 15px;
  font-family: Georgia;
  list-style-type: disc;
  margin-left: 10px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre ul.services-2 li {
  padding-right: 0px;
}

#t2 {
position: relative;
top: -20px;
left: -2px;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
 border: 2px;
  border-color: red;
 border-style:solid; 
}

.main p.mail {
  position: relative;
  top: -130px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 0px 10px;
  text-indent: 0px;
  line-height: 130%;
}

#form {
  max-width: 300px;
  width: 98%;
  position: relative;
  margin-top: 8px;
  padding-top: 10px;
  top: -130px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
}

#form table {
max-width: 300px;
width: 98%;
background-color: #f3f3f3;
color: black;
 padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#form .td1 {
nowrap: nowrap;
text-align: left;
font-size: 14px;
font-family: Arial;
width: 200px;
 position:absolute;
 margin-top:-20px;
 margin-left: 0px;
padding: 11px 10px;
margin-bottom: 10px;
}

#form .td1-1 {
height: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 10px;
margin-bottom: 10px
}

#form .td2 {
nowrap:nowrap;
text-align:left;
font-size:14px;
font-family:Arial;
width:200px;
 position:absolute;
 margin-top: -20px;
 margin-left: 0px;
padding: 11px 10px;
}

#form table tr td input {
font-size:18px;
}

#form table tr td textarea {
width:250px;
height:100px;
font-size:18px;
margin-top: 10px;
}

#form .td-b {
text-align:center;
 padding-top:15px;
padding-right: 0px;
width: 30px;
}

#form input[type=submit] {
font-size:14px;
color: white; ///#131307;
left: -20px;
margin-right: 20px;
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
}

#form input[type=reset] {
font-size:14px;
color:#131307;
padding-left: 10px;
padding-right: 10px;
}

.main p.end {
  position: relative;
  top: 60px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main p.copyright {
  position: relative;
  top: 120px;
  margin-left: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 1px 1px;
margin-bottom: 1px;
}
	}




