* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
}
#wrapper {
  border: 0px solid #f3f3f3;
  box-shadow: 1px 1px 27px 5px #cccccc;
  padding: 10px;
  top: 30px;
  background-color: #ffffff;
  width: 1060px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  min-width: 600px;
  right: 10px;
  bottom: 10px
}
#top {
  height: 210px;
  width: auto;
  position: relative;
  background-color: #cfe2f3;
}
#links {
  height: 100%;
  background-color: #f3f3f3;
  width: 100%;
}

#background {
  #min-height: 80px;
  background-color: #f3f3f3;
  width: auto;
  position: relative;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

#main {
  min-height: 660px;
  width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: -10px -10px 300px 1px black inset;
}



#form {
  #width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 424px;
  left: 0px;
}

.top {
  #display: inline;
  #position: relative;
}
.top img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.top h1 {
  padding: 0 0px;
  font-size: 50px;
  position: relative;
  z-index:1;
  top: 63px;
  font-family: Georgia;
  right: 163px;
  text-align: right;
  line-height: 0px;
  color: #000000;
}
.top h2 {
  padding: 0 0px;
  position: relative;
  z-index:1;
  right: 42px;
  font-family: Georgia;
  font-weight: normal;
  top: 136px;
  color: #cccccc;
  font-size: 40px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;

  text-align: right;
  line-height: 0px;
}

.main p.title1 {
  position: absolute;
  top: 78px;
  left: 300px;
  #z-index: 0;
  font-size: 20px;
  font-family: Georgia;
  font-weight: ;
  text-align: left;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;
}

.main p.title2 {
  position: absolute;
  top: 115px;
  left: 300px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  margin-right: 300px;
}

.main p.title3 {
  position: absolute;
  top: 230px;
  left: 300px;
  padding: 0px 0px 0px 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  margin-right: 300px;
}

.main p.mail {
  position: absolute;
  top: 454px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.java {
  position: absolute;
  top: 510px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  color: yellow;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.end {
  position: relative;
  top: 501px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main a.end {
  color: white;
}

.main a.end:visited {
  color: #cccccc;
}

.main a.end:hover {
  color: #cfe2f3;
}



.main p.copyright {
  position: relative;
  top: 492px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
}

.main img.img2 {
  position: absolute;
  top: 81px;
  left: 150px;
  #z-index: 0;
}

.main img.img3 {
  position: absolute;
  top: 190px;
  left: 300px;
  z-index: 0;
}

.main img.horse {
  position: absolute;
  top: 300px;
  left: 330px;
  #z-index: 0;
}

.main img.text-cn {
  position: absolute;
  top: 300px;
  left: 460px;
  #z-index: 0;
}

.main ul.services {
  position: absolute;
  top: 220px;
  left: 300px;
  color: #ffffff;
  font-size: 24px;
  font-family: Georgia;
}


.links ul {
  border: 0px solid grey;
  overflow: hidden;
  background-color: #cccccc;
  box-shadow: 1px 20px 10px 1px white inset;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: -15px;
  list-style-type: none;
}
.links li {
  display: inline-block;
  text-align: center ! important;
  margin-bottom: 20px;
}
.links li a {
  border: 1px solid grey;
  padding: 9px 61px;
  margin-right: 0px;
  float: none ! important;
  color: #666666;
  text-align: center ! important;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
}
.links li a.active {
    background-color: #0b5394;
    color: white;
    #box-shadow: 1px 5px 15px 1px white inset;
}
.links li a:hover:not(.active) {
  background-color: #f3f3f3;
  color: #0b5394;
}
