* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
}
#wrapper {
  border: 0px solid #f3f3f3;
  box-shadow: 1px 1px 27px 5px #cccccc;
  padding: 10px;
  top: 10px;
  background-color: #ffffff;
  width: 1060px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  min-width: 600px;
  bottom: 10px
}
#top {
  height: 210px;
  width: auto;
  position: relative;
  background-color: #cfe2f3;
}
#links {
  height: 100%;
  background-color: #f3f3f3;
  width: 100%;
}

#links2 {
display: none;
}

#background {
  #min-height: 80px;
  height: auto;
  background-color: #f3f3f3;
  width: auto;
  position: relative;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

#main {
  min-height: 500px;
  width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: -10px -10px 300px 1px black inset;
}

#main .mob-a {
color: white;
}

#main .mob-a img {
border: none;
}

#form {
  #width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 666px;
  left: 0px;
}

.top {
  #display: inline;
  #position: relative;
}

#img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#img02 {
  display:none;
}

.top h1 {
  padding: 0 0px;
  font-size: 50px;
  position: relative;
  z-index:1;
  top: 63px;
  font-family: Georgia;
  right: 163px;
  text-align: right;
  line-height: 0px;
  color: #000000;
}
.top h2 {
  padding: 0 0px;
  position: relative;
  z-index:1;
  right:66px;
  font-family: Georgia;
  font-weight: normal;
  top: 136px;
  color: #cccccc;
  font-size: 30px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;
  text-align: right;
  line-height: 0px;
}

#m-01 {
display: inline-block;
padding-left: 15px;
padding-right: 20px;
}

#m-02 {
display: inline-block;
padding-left: 15px;
padding-right: 20px;
}

.main p.title1 {
  position: relative;
  top: 20px;
  left: 0px;
  #z-index: 0;
  font-size: 36px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main p.title2 {
  position: relative;
  top: 20px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
}

.main p.uwaga {
  position: absolute;
  top: 254px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
  color: yellow;
}

.main p.end {
  position: relative;
  top: 260px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main a.end {
  color: white;
}

.main a.end:visited {
  color: #cccccc;
}

.main a.end:hover {
  color: #cfe2f3;
}

.main p.copyright {
  position: relative;
  top: 260px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
}

.main img.img2 {
  position: absolute;
  top: 50px;
  #display: block;
  float: left;
    margin-left: 320px;;
    margin-right: auto;
  #z-index: 0;
  width: 60px; 
  height: 60px;
}

.main img.img3 {
  position: absolute;
  top: 130px;
  left: 330px;
  width: 350px;
  height: 12px;
  z-index: 0;
}

.main img.img4 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  left: -10px;
  #right: 160px;
  z-index: 0;
 width: 180px;
}

.links ul {
  border: 0px solid grey;
  overflow: hidden;
  background-color: #cccccc;
  box-shadow: 1px 20px 10px 1px white inset;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: -15px;
  list-style-type: none;
}
.links li {
  display: inline-block;
  text-align: center ! important;
  margin-bottom: 20px;
}
.links li a {
  border: 1px solid grey;
  padding: 9px 61px;
  margin-right: 0px;
  float: none ! important;
  color: #525252;
  text-align: center ! important;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
}
//.links li a.active {
    background-color: #0b5394;
    color: white;
    #box-shadow: 1px 5px 15px 1px white inset;
}
.links li a:hover:not(.active) {
  background-color: #f3f3f3;
  color: #0b5394;
}




----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

///@media screen and (max-width: 800px) { }
///@media only screen and (max-device-width: 800px) { }

@media only screen and (max-width: 800px) {

#wrapper {
  border: none;
  box-shadow: none;
  padding: 0px;
  top: 0px;
  left: 0px;
  background-color: ///#ffffff;
  width: 100%;
  position: absolute;
  margin-right: px;
  margin-left: 0px;
  //max-width: 800px;
  min-width: 10px;
  //right: 0px;
  bottom: 10px;
}

#links {
display: none;
}

#links2 {
display: block;
}

#main {
  height: 450px;
  #min-height: 10px;
  width: 100%;
  //min-width: 10px;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: none;
  box-shadow: -10px -10px 300px 1px black inset;
  padding-bottom: 80px;
}

#main .mob-a {
  text-decoration: none;
}

#top {
  height: 95px;
}

#img1 {
display: none;
}

#img02 {
//display: block;
position: relative;
top: 20px;
///left: 36%;
height: 45px;
width: 45px;
//float: left;
padding-right: 250px;
display: block;
 margin-left: auto;
 margin-right: auto;
}

#top h1 {
position: relative;
top: -15px;
//margin: 0px;
margin-left: auto;
right: 0px;
text-align: center;
 font-size: 29px;
 padding: 0 0px;
  //font-size: 50px;
  z-index:1;
  font-family: Georgia;
  //right: 0px;
  //text-align: right;
  line-height: 0px;
  color: #000000;
}

#top h2 {
top: 20px;
//margin: 0px;
text-align: center;
font-size: 18px;
margin-left: auto;
right: 0px;
}

#m-01 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#m-02 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#top h3 {
display: ;
top: 100px;
left: 0px;
text-align: center;
  padding: 0 0px;
  position: relative;
  z-index:1;
  font-family: Georgia;
  font-weight: normal;
  color: #cccccc;
  font-size: 35px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;
  line-height: 0px;
  letter-spacing: 2px;
  //text-transform: uppercase;
}

.links {
width: auto;
height: 35px;
}

.links ul {
padding-top: 3px;
padding-bottom: px;
padding-left: 0px;
}

.links li {
 display: block !important;
 float: left !important;
 width: 47%;
 height: 20px;
 padding-left: 3px;
 padding-right: 3px;
 margin-top: 0px;
}

.links li a.active {
display: none;
}

.links li a {
 display: inline-block;
 padding-left:1px;
 padding-right:1px;
 padding-top:0.6em;
 padding-bottom:0.6em;
 margin-top:0px;
 margin-right: 0px;
 margin-bottom: 0px;
 width: 100%;
 //min-width: 100px;
 #font-size: 1em;
 //background-color: #bbc984; //#777473;
 //color: white
}

#main .title1 {
  position: relative;
  top: -10px;
  left: 0px;
  #z-index: 0;
  font-size: 140%;
  max-font-size: 2em; px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main p.title2 {
  position: relative;
  top: -10px;
  left: 0px;
  #z-index: 0;
  font-size: 120%;
  font-family: Georgia;
  text-align: center;
}

.main img.img2 {
  //display: none;
  position: relative;
  float: none;
  top: -10px;
  left: 0px;
  #z-index: 0;
  //margin-right: 10px;
 width: 40px;
 height: 40px;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.main img.img3 {
  position: relative;
  top: -5px;
  left: 0px;
  width: 220px;
  height: 60%
  #max-width: 10px;
  max-height: 9px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main img.img4 {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 180px;
}

.main p.uwaga {
  position: relative;
  width: 80%;
  top: 60px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 20px 10px;
  color: yellow;
  border: 2px;
  border-color: yellow;
  border-style:solid; 
}

.main p.end {
  position: relative;
  top: 140px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main p.copyright {
  position: relative;
  top: 180px;
  margin-left: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 1px 1px;
  margin-bottom: 1px;
}
	}

