* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
}
#wrapper {
  border: 0px solid #f3f3f3;
  box-shadow: 1px 1px 27px 5px #cccccc;
  padding: 10px;
  top: 30px;
  background-color: #ffffff;
  width: 1060px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  min-width: 600px;
  right: 10px;
  bottom: 10px
}
#top {
  height: 210px;
  width: auto;
  position: relative;
  background-color: #cfe2f3;
}
#links {
  height: 100%;
  background-color: #f3f3f3;
  width: 100%;
}

#background {
  #min-height: 80px;
  background-color: #f3f3f3;
  width: auto;
  position: relative;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

#main {
  min-height: 1210px;
  width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: -10px -10px 300px 1px black inset;
}



#form {
  #width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 660px;
  left: 0px;
}

.top {
  #display: inline;
  #position: relative;
}
.top img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.top h1 {
  padding: 0 0px;
  font-size: 50px;
  position: relative;
  z-index:1;
  top: 63px;
  font-family: Georgia;
  right: 163px;
  text-align: right;
  line-height: 0px;
  color: #000000;
}
.top h2 {
  padding: 0 0px;
  position: relative;
  z-index:1;
  right:66px;
  font-family: Georgia;
  font-weight: normal;
  top: 136px;
  color: #cccccc;
  font-size: 30px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;

  text-align: right;
  line-height: 0px;
}

.main p.title1 {
  position: relative;
  top: 40px;
  left: 0px;
  #z-index: 0;
  font-size: 36px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main p.title2 {
  position: relative;
  top: 42px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
}

.main p.title3 {
  position: relative;
  top: 150px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;
}

.main p.consulting {
  position: absolute;
  top: 220px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 165px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.courses {
  position: absolute;
  top: 360px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 165px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.translate {
  position: absolute;
  top: 500px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 135px;
  #margin-bottom: 40px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.mail {
  position: absolute;
  top: 670px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 210px;
  color: yellow;
}

.main p.mail1 {
  position: absolute;
  top: 454px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 150px;
}

.main p.java {
  position: absolute;
  top: 810px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  color: yellow;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.end {
  position: relative;
  top: 720px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main a.end {
  color: white;
}

.main a.end:visited {
  color: #cccccc;
}

.main a.end:hover {
  color: #cfe2f3;
}



.main p.copyright {
  position: relative;
  top: 710px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
}

.main img.img2 {
  position: absolute;
  top: 66px;
  left: 150px;
  #z-index: 0;
}

.main img.img3 {
  position: absolute;
  top: 115px;
  left: 300px;
  z-index: 0;
}

.main img.img4 {
  position: absolute;
  top: 144px;
  left: 281px;
  z-index: 0;
}

.main img.imgRV {
  position: relative;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}

.main img.imgRV-1 {
  position: relative;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}

.main img.imgRV-2 {
  position: relative;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}


.main ul.services {
  position: absolute;
  top: 280px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
}

.main ul.services-1 {
  position: absolute;
  top: 395px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
  #text-align: center;
}

.main ul.services-2 {
  position: absolute;
  top: 580px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
  #padding-top: 10px;
}

.main ul.services-2 li {
  padding-right: 30px;
}

.links ul {
  border: 0px solid grey;
  overflow: hidden;
  background-color: #cccccc;
  box-shadow: 1px 20px 10px 1px white inset;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: -15px;
  list-style-type: none;
}
.links li {
  display: inline-block;
  text-align: center ! important;
  margin-bottom: 20px;
}
.links li a {
  border: 1px solid grey;
  padding: 9px 61px;
  margin-right: 0px;
  float: none ! important;
  color: #666666;
  text-align: center ! important;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
}
.links li a.active {
    background-color: #0b5394;
    color: white;
    #box-shadow: 1px 5px 15px 1px white inset;
}
.links li a:hover:not(.active) {
  background-color: #f3f3f3;
  color: #0b5394;
}
