* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
}
#wrapper {
  border: 0px solid #f3f3f3;
  box-shadow: 1px 1px 27px 5px #cccccc;
  padding: 10px;
  top: 30px;
  background-color: #ffffff;
  width: 1060px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  min-width: 600px;
  right: 10px;
  bottom: 10px
}
#top {
  height: 210px;
  width: auto;
  position: relative;
  background-color: #cfe2f3;
}
#links {
  height: 100%;
  background-color: #f3f3f3;
  width: 100%;
}

#background {
  //#min-height: 80px;
  background-color: #f3f3f3;
  width: auto;
  position: relative;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

#main {
  min-height: 1210px;
  width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: -10px -10px 300px 1px black inset;
}

#main .mob-a {
color: white;
}

#main .mob-a img {
border: none;
}

#form {
  #width: auto;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 660px;
  left: 0px;
}

.top {
  #display: inline;
  #position: relative;
}

#img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#img02 {
  display:none;
}

.top h1 {
  padding: 0 0px;
  font-size: 50px;
  position: relative;
  z-index:1;
  top: 63px;
  font-family: Georgia;
  right: 163px;
  text-align: right;
  line-height: 0px;
  color: #000000;
}
.top h2 {
  padding: 0 0px;
  position: relative;
  z-index:1;
  right:66px;
  font-family: Georgia;
  font-weight: normal;
  top: 136px;
  color: #cccccc;
  font-size: 30px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;
  text-align: right;
  line-height: 0px;
}

#m-01 {
display: inline-block;
padding-left: 15px;
padding-right: 20px;
}

#m-02 {
display: inline-block;
padding-left: 15px;
padding-right: 20px;
}


.main p.title1 {
  position: relative;
  top: 40px;
  left: 0px;
  #z-index: 0;
  font-size: 36px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main p.title2 {
  position: relative;
  top: 42px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
}

.main p.title3 {
  position: relative;
  top: 150px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 0px 1px 0, #000000 1px 0px 0, #000000 0px -1px 0, #000000 -1px 0px 0, #000000 4px 4px 3px;
}

.main p.consulting {
  position: absolute;
  top: 220px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 165px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.courses {
  position: absolute;
  top: 360px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 165px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.translate {
  position: absolute;
  top: 500px;
  left: 150px;
  #z-index: 1;
  font-size: 18px;
  font-family: Georgia;
  text-align: left;
  padding: 10px 310px;
  padding-right: 135px;
  #margin-bottom: 40px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.mail {
  position: absolute;
  top: 670px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 210px;
  color: yellow;
}

.main p.mail1 {
  position: absolute;
  top: 454px;
  left: 0px;
  #z-index: 0;
  font-size: 24px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 150px;
}

.main p.java {
  position: absolute;
  top: 810px;
  left: 0px;
  #z-index: 0;
  font-size: 18px;
  color: yellow;
  font-family: Georgia;
  text-align: center;
  padding: 10px 169px;
}

.main p.end {
  position: relative;
  top: 720px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.main a.end {
  color: white;
}

.main a.end:visited {
  color: #cccccc;
}

.main a.end:hover {
  color: #cfe2f3;
}



.main p.copyright {
  position: relative;
  top: 710px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
}

.main img.img2 {
  position: absolute;
  top: 66px;
  left: 150px;
  #z-index: 0;
  width: 115px; 
  height: 115px;
}

.main img.img3 {
  position: absolute;
  top: 115px;
  left: 300px;
  width: 460px;
  height: 24px;
  z-index: 0;
}

.main img.img4 {
  position: absolute;
  top: 144px;
  left: 291px;
  z-index: 0;
}

.main img.imgRV {
  position: relative;
  width: 150px;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}

.main img.imgRV-1 {
  position: relative;
  width: 150px;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}

.main img.imgRV-2 {
  position: relative;
  width: 150px;
  height: 110px;
  top: 5px;
  left: 30px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
  margin-bottom: 10px;
  #z-index: 1;
}


.main ul.services {
  position: absolute;
  top: 280px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
}

.main ul.services-1 {
  position: absolute;
  top: 395px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
  #text-align: center;
}

.main ul.services-2 {
  position: absolute;
  top: 580px;
  left: 480px;
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia;
  list-style-type: circle;
  #padding-top: 10px;
}

.main ul.services-2 li {
  padding-right: 30px;
}

#t2 {
position: absolute;
top: 0px;
left: 95px;
margin-left: 0px;
padding-left: 10px;
}

.links ul {
  border: 0px solid grey;
  overflow: hidden;
  background-color: #cccccc;
  box-shadow: 1px 20px 10px 1px white inset;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: -15px;
  list-style-type: none;
}
.links li {
  display: inline-block;
  text-align: center ! important;
  margin-bottom: 20px;
}
.links li a {
  border: 1px solid grey;
  padding: 9px 61px;
  margin-right: 0px;
  float: none ! important;
  color: #666666;
  text-align: center ! important;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
}
.links li a.active {
    background-color: #0b5394;
    color: white;
    #box-shadow: 1px 5px 15px 1px white inset;
}
.links li a:hover:not(.active) {
  background-color: #f3f3f3;
  color: #0b5394;
}


#form {
  width: 580px;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  top: 660px;
  left: 0px;
  margin: auto;
}

#form table {
width: 580px;
background-color: #f3f3f3;
color: black;
 padding-right: 15px;
}

#form .td1 {
nowrap: nowrap;
text-align: right;
font-size: 14px;
font-family: Arial;
width: 200px;
}

#form .td1-1 {
width: 250px;
}

#form .td2 {
nowrap:nowrap;
text-align:right;
font-size:14px;
font-family:Arial;
width:200px;
 position:absolute;
 margin-top:10px;
 margin-left:-72px;
}

#form table tr td textarea {
width:400px;
height:100px;
font-size:14px;
}

#form .td-b {
text-align:center;
 padding-top:15px;
padding-right: 0px;
width: 30px;
}

#form input[type=submit] {
font-size:14px;
color:#131307
left: -20px;
margin-right: 20px;
padding-left: 10px;
padding-right: 10px;
}

#form input[type=reset] {
font-size:14px;
color:#131307;
padding-left: 10px;
padding-right: 10px;
}



----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
///@media screen and (max-width: 800px) { }
///@media only screen and (max-device-width: 800px) { }

@media only screen and (max-width: 800px) {
	
#wrapper {
  border: none;
  box-shadow: none;
  padding: 0px;
  top: 0px;
  left: 0px;
  background-color: ///#ffffff;
  width: 100%;
  position: absolute;
  margin-right: px;
  margin-left: 0px;
  //max-width: 800px;
  min-width: 10px;
  //right: 0px;
  bottom: 10px;
}

#main {
  min-height: 1380px;
  width: 100%;
  //min-width: 10px;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
  background-color: #28639a;
  color: #ffffff;
  box-shadow: none;
  ///box-shadow: -10px -10px 300px 1px black inset;
  padding-bottom: 0px;
}

#main .mob-a {
  text-decoration: none;
}
	
#top {
  height: 95px;
}

#img1 {
display: none;
}

#img02 {
//display: block;
position: relative;
top: 20px;
///left: 36%;
height: 45px;
width: 45px;
//float: left;
padding-right: 250px;
display: block;
 margin-left: auto;
 margin-right: auto;
}

#top h1 {
position: relative;
top: -15px;
//margin: 0px;
margin-left: auto;
right: 0px;
text-align: center;
 font-size: 29px;
 padding: 0 0px;
  //font-size: 50px;
  z-index:1;
  font-family: Georgia;
  //right: 0px;
  //text-align: right;
  line-height: 0px;
  color: #000000;
}

#top h2 {
top: 20px;
//margin: 0px;
text-align: center;
font-size: 18px;
margin-left: auto;
right: 0px;
}

#m-01 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#m-02 {
display: inline-block;
padding-left: 2px;
padding-right: 2px;
}

#p-02 {
color: red;
}

#top h3 {
display: ;
top: 100px;
left: 0px;
text-align: center;
  padding: 0 0px;
  position: relative;
  z-index:1;
  font-family: Georgia;
  font-weight: normal;
  color: #cccccc;
  font-size: 35px;
  text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, #000000 1px -1px 0, #000000 -1px -1px 0, #000000 1px 1px 0, #000000 1px 1px 0, #000000 -1px -1px 0, #000000 -1px 1px 0, #000000 -2px 3px 3px;
  line-height: 0px;
  letter-spacing: 2px;
  //text-transform: uppercase;
}

#links {
width: auto;
height: 75px;
}

#links ul {
padding-top: 3px;
padding-bottom: px;
padding-left: 0px;
}

#links li {
 display: block !important;
 float: left !important;
 width: 47%;
 height: 20px;
 padding-left: 3px;
 padding-right: 3px;
 margin-top: 0px;
}

#links li a.active {
display: none;
}

.links li a {
 display: inline-block;
 padding-left:1px;
 padding-right:1px;
 padding-top:0.6em;
 padding-bottom:0.6em;
 margin-top:0px;
 margin-right: 0px;
 margin-bottom: 0px;
 width: 100%;
 //min-width: 100px;
 #font-size: 1em;
 background-color: #bbc984;
}

#main .title1 {
  position: relative;
  top: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 140%;
  max-font-size: 2em; px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.main img.img2 {
  //display: none;
  position: relative;
  //float: left;
  top: -10px;
  left: 0px;
  #z-index: 0;
  //margin-right: 10px;
 width: 40px;
 height: 40px;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.main img.img3 {
  position: relative;
  top: 10px;
  left: 0px;
  width: 65%;
  height: 65%
  max-width: 400px;
  max-height: 18px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-color: yellow;
 border-style:solid; 
}

.main img.img4 {
  position: relative;
  top: 20px;
  left: 0px;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 478px;
  border: 2px;
  border-color: yellow;
 border-style:solid; 
}


.centre {
  position: relative;
  left: 0px;
  width: 95%;///500px;//70%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-color: white;
 border-style:solid; 
  //z-index: 5;
  //overflow: auto;
   height: auto;
}

.main img.imgRV {
  position: absolute;
  display:inline;
  width: 30%;
  max-width: 150px;
  height: px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 0;
}

.main p.consulting {
  position: relative;
  top: 40px;
  left: 0px;
  z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  //padding-left: 80px;
  padding: 0px 0px;
  padding-right: 10px;

  text-indent: 0px;
  line-height: 130%;
}
.main p.consulting span {
display:inline-block;
max-width: 180px;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
}

.centre ul.services {
  position: relative;
  max-width: 160px;
  top: 92px;
  left: 36%;
  color: #ffffff;
  font-size: 15px;
  font-family: Georgia;
  list-style-type: circle;
  margin-top: 1%;
  margin-left: 10px;
  border: 2px;
  border-color: red;
  border-style:solid; 

}

.centre ul.services li {
  margin-right: 20px;
  //padding-right: 200px;
}

.centre p.courses {
  position: relative;
  top: 100px;
  left: 0px;
  #z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  padding: 0px 0px;
  padding-right: 15px;
  text-indent: 0px;
  line-height: 130%;
}

.main p.courses span {
display:inline-block;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
}


.centre img.imgRV-1 {
  position: absolute;
  width: 30%;
  max-width: 150px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  #z-index: 1;
}

.centre ul.services-1 {
  position: relative;
  top: 120px;
  max-width: 170px;
  left: 36%;
  color: #ffffff;
  font-size: 15px;
  font-family: Georgia;
  list-style-type: circle;
  #text-align: center;
  margin-left: 10px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre p.translate {
  position: relative;
  top: 130px;
  left: 0px;
  #z-index: 1;
  font-size: 15px;
  font-family: Georgia;
  text-align: left;
  padding: 0px 0px;
  padding-right: 10px;
  text-indent: 0px;
  line-height: 130%;
  border: 2px;
  border-color: green;
 border-style:solid; 
}

.main p.translate span {
display:inline-block;
position: absolute;
margin-left: 33%;
  padding-bottom: 10px;
 font-size: 15;
  max-width: 180px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre img.imgRV-2 {
  position: absolute;
  width: 30%;
  max-width: 150px;
  max-height: 110px;
  top: 5px;
  left: 0px;
  float: left;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  #z-index: 1;
}

.centre ul.services-2 {
  position: relative;
  top: 230px;
  left: 36%;
  padding-top: 27px;
  max-width: 160px;
  color: #ffffff;
  font-size: 15px;
  font-family: Georgia;
  list-style-type: circle;
  margin-left: 10px;
  border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre ul.services-2 li {
  padding-right: 0px;
}

#t2 {
position: relative;
top: -20px;
left: -2px;
margin-left: 0px;
padding-left: 0px;
padding-top: 0px;
 border: 2px;
  border-color: red;
 border-style:solid; 
}

.centre p.mail {
  position: relative;
  top: 210px;
  left: 0px;
  #z-index: 0;
  font-size: 15px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: yellow;
}

#form {
  max-width: 300px;
  width: 98%;
  position: relative;
  margin-top: 8px;
  padding-top: 10px;
  top: 200px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-color: white;
 border-style:solid; 
}

#form table {
max-width: 300px;
width: 98%;
background-color: #f3f3f3;
color: black;
 padding-right: 15px;
  border: 2px;
  border-color: yellow;
 border-style:solid; 
  margin-left: auto;
  margin-right: auto;
}

#form .td1 {
nowrap: nowrap;
text-align: left;
font-size: 14px;
font-family: Arial;
width: 200px;
 position:absolute;
 margin-top:-20px;
 margin-left: 0px;
padding: 11px 10px;
margin-bottom: 10px;
}

#form .td1-1 {
height: 15px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 10px;
margin-bottom: 10px
}

#form .td2 {
nowrap:nowrap;
text-align:left;
font-size:14px;
font-family:Arial;
width:200px;
 position:absolute;
 margin-top: -20px;
 margin-left: 0px;
padding: 11px 10px;
}

#form table tr td textarea {
width:250px;
height:100px;
font-size:14px;
margin-top: 10px;
}

#form .td-b {
text-align:center;
 padding-top:15px;
padding-right: 0px;
width: 30px;
}

#form input[type=submit] {
font-size:14px;
color:#131307
left: -20px;
margin-right: 20px;
padding-left: 10px;
padding-right: 10px;
background-color: yellow;
padding-top: 3px;
padding-bottom: 3px;
}

#form input[type=reset] {
font-size:14px;
color:#131307;
padding-left: 10px;
padding-right: 10px;
}

.centre p.end {
  position: relative;
  top: 240px;
  left: 0px;
  #z-index: 0;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 10px 10px;
  color: white;
  border: 2px;
  border-color: white;
 border-style:solid; 
}

.centre p.copyright {
  position: relative;
  top: 230px;
  margin-left: 0px;
  left: 0px;
  #z-index: 0;
  font-size: 12px;
  font-family: Georgia;
  text-align: center;
  padding: 1px 1px;
  border: 2px;
  border-color: white;
 border-style:solid; 
}
	}





